<a href="https://colab.research.google.com/github/letme-hj/class2021Spring/blob/main/variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Variable**
You can assign values to variables.
There are several types for the variable (or value).
<br>
### **Types**

- **int** (integer)
- **float**
- **str** (string)
- **list** (and the elements of a list can be any type) -> mutable
- **tuple** (and the elements of a tuple can be any type) -> immutable
- **dict**
---
- **Type check** : `type(var/val)`<br>
- **Type conversion** : `int(a)`, `list(b)`, etc.<br>
int -> float / float -> int (when converting float to int, the fractional part of the number is dropped)<br>
int -> str / float -> str<br>
str -> int / str -> float (only when str is sequence of NUMBERS)<br>
str -> list, tuple<br>
list -> str, tuple<br>
tuple -> str, list<br>
---

In [2]:
# types and type check
a = 1
b = 1.0
c = 'string'
d = ['list', 1, 2, '4']
e = ('list', 1, 2, '4')
print(a); print(type(a))
print(b); print(type(b))
print(c); print(type(c))
print(d); print(type(d))
print(e); print(type(e))

1
<class 'int'>
1.0
<class 'float'>
string
<class 'str'>
['list', 1, 2, '4']
<class 'list'>
('list', 1, 2, '4')
<class 'tuple'>

In [13]:
# type conversion
a_ = float(a) # int - float
a__ = str(a)  # int - str
b_ = int(b)   # float - int
b__ = str(b)  # float - str
c_ = list(c)  # str - list
d_ = tuple(d) # list - tuple
d__ = str(d)  # list - str
e_ = str(e)   # tuple - str

aa = int(a__)
aaa = float(a__)
bb = float(b__)
# bbb = int(b__) -> error

#========
print(type(a),'to', type(a_), '\tresult:',a_)
print(type(a),'to', type(a__), '\t\tresult:',a__)
print(type(b),'to', type(b_), '\tresult:',b_)
print(type(b),'to', type(b__), '\tresult:',b__) # 숫자형(int, float)도 str으로 변환 가능 (숫자 str도 int/float로 변환 가능)
print(type(c),'to', type(c_), '\tresult:',c_)
print(type(d),'to', type(d_), '\tresult:',d_)
print(type(d),'to', type(d__), '\tresult:',d__) # list, tuple을 str으로 바꿀 때에는 괄호, comma, quotation mark 모두 포함해 저장
print(type(e),'to', type(e_), '\tresult:',e_)
print('str to int/float: ',type(aa), type(aaa), type(bb))

<class 'int'> to <class 'float'> 	result: 1.0
<class 'int'> to <class 'str'> 		result: 1
<class 'float'> to <class 'int'> 	result: 1
<class 'float'> to <class 'str'> 	result: 1.0
<class 'str'> to <class 'list'> 	result: ['s', 't', 'r', 'i', 'n', 'g']
<class 'list'> to <class 'tuple'> 	result: ('list', 1, 2, '4')
<class 'list'> to <class 'str'> 	result: ['list', 1, 2, '4']
<class 'tuple'> to <class 'str'> 	result: ('list', 1, 2, '4')
str to int/float:  <class 'int'> <class 'float'> <class 'float'>

### **Index**
You can access an element in a sequence data with its index.<br>
- (left) starts from 0<br>
(right) starts from -1<br>
ex. a[1], a[-1]
 
**Slicing**<br>
> can be used with sequence data types<br>
> [n:m] -> index n ~ m-1<br>
> ex. a[2:6]

In [19]:
# indexing _ list
a = [1,2,3,4]
print('list indexing')
print('a[0]: {}'.format(a[0]))
print('a[-1]: {}'.format(a[-1]))

list indexing
a[0]: 1
a[-1]: 4

In [20]:
# indexing _ tuple
b = (5,'6',7,[8,9])
print('tuple indexing')
print('b[0]: {}'.format(b[0]))
print('b[-1]: {}'.format(b[-1]))
print('double indexing? b[-1][0]: {}'.format(b[-1][0]))

tuple indexing
b[0]: 5
b[-1]: [8, 9]
double indexing? b[-1][0]: 8

In [21]:
# indexing _ string
c = 'abcde2'
print('string indexing')
print('c[0]: {}'.format(c[0]))
print('c[-1]: {}'.format(c[-1]))
print('c[2:5]: {}'.format(c[2:5]))

string indexing
c[0]: a
c[-1]: 2
c[2:5]: cde

<br>

### Type _ **Dictionary**
Dictionary is sequence data, but it has **named indexes** instead of ordered indexes (as list and tuple have)<br>

`{a: b, c: d}`
- the named indexes of dictionaries are on the left side of `:`s, and is called, **'Key'**s<br>
`a`, `c` are the keys
- the right side of each `:` is called **'Value'**s<br>
`b`, `d` are the values

---
*only immutable data types can be a key*

In [33]:
dic = {'a': 'apple', 'b': 'banana', 'c': 'cocacola'} # string can be a key
dic2 = {1: 2, 2: 3, 3: 4} # integer can be a key
var1 = 1
dic3 = {var1: 2, 3: 2, 'c': 'cocacola'} # can use variable as a key
dic4 = {(1,2): 3, 3: 2, 'c': 'cocacola'} # tuple can be a key
# dic5 = {[1,2]: 3, 3: 2, 'c': 'cocacola'} # list CANNOT be a key -> error

print(type(dic))
print(type(dic2))
print(dic3.keys())
print(dic4.keys())

<class 'dict'>
<class 'dict'>
dict_keys([1, 3, 'c'])
dict_keys([(1, 2), 3, 'c'])

---
*use keys for indexing*

In [35]:
# indexing _ dictionary
# dic[2] -> error
print("dic['a']: ",dic['a'])
# print("dic['a':'c']: ", dic['a':'c']) -> slicing 불가능 (not an ordered data)

dic['a']:  apple