<a href="https://colab.research.google.com/github/letme-hj/class2021Spring/blob/main/variables_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

In [6]:
a = 1
print(a) # show what's in a
print(type(a)) # show what type of variable a is : int(integer)
b = 2.2
print(b)
print(type(b)) # type: float
c = 3
b
print(c)
a

1
<class 'int'>
2.2
<class 'float'>
3

1

In [7]:
a = 1; a = float(a); print(type(a)) # change type
print(a) # print current a (in float type)

<class 'float'>
1.0

In [10]:
a = 1.7; a = int(a); print(type(a)) # change type (float -> int: 소수점 아래 자름(내림))
print(a)

<class 'int'>
1

In [20]:
a = '123'
print(type(a)) # type: str
print(a[1])
print(a[0]) # indexing (starts from 0)
print(a[2])

<class 'str'>
2
1
3

In [15]:
a = '123'
 # change type (str -> list) make each character an element of the list
print(a)
print(type(a))
a = list(a)
print(a)
print(type(a))
print(a[2])

123
<class 'str'>
['1', '2', '3']
<class 'list'>
3

In [19]:
a = ['ab', 'cde', 'jky']
b = [1,2,3,4]
c = ['ab', 4, 'cde', [1,3, '4']]
# all types can be an element in a list
print(c)
print(c[3])

['ab', 4, 'cde', [1, 3, '4']]
[1, 3, '4']

In [21]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [25]:
a = (1,2,3)
b = [1,2,3]
type(a)
type(b)
b[0] = -1
print(b)
a[0] = -1 # tuple은 원소를 바꿀 수 없음. iterable......
print(a)

[-1, 2, 3]

TypeError: ignored

In [26]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [30]:
a =	{"a": "apple", "b": "orange", "c": 2014} # dict: key로 인덱싱하기 때문에 인덱스 순서를 바꿀 수는 없음 (dict는 순서가 중요하지 않음)
print(type(a))
print(a["c"]) # indexing with the key of the dict
# 순서가 없으니까 print라는 명령어는? print가 안된다기보다 인덱싱을 숫자로 할 수 없다는 것것

<class 'dict'>
2014

KeyError: ignored

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]